@supports (font-variation-settings: normal) {
	@font-face {
		font-family: Jost;
		font-style: normal;
		font-weight: 300 700;
		font-display: swap;
		src: url(/wp-content/themes/tetra-starter-wordpress-theme/dist/fonts/jost.woff2)
			format("woff2");
	}
}

@supports (font-variation-settings: normal) {
	@font-face {
		font-family: Syne;
		font-style: normal;
		font-weight: 400 700;
		font-display: swap;
		src: url(/wp-content/themes/tetra-starter-wordpress-theme/dist/fonts/syne.woff2)
			format("woff2");
	}
}
