@import "tailwindcss";

@import "./theme/_colors.css";
@import "./theme/_fonts.css";

@source "./src/**/*.{php,twig}";
@source "./templates/**/*.twig";
@source "./assets/**/*.js";

@source inline("{bg-folly,bg-crayola,bg-school-bus-yellow,bg-turquoise,bg-yellow-green,bg-anti-flash-white}-{50,{100..900..100}}");

/* Typography */
@layer base {
	h1,
	.h1 {
		@apply font-syne text-4xl font-semibold;
	}
	h2,
	.h2 {
		@apply font-syne text-3xl font-semibold;
	}
	h3,
	.h3 {
		@apply font-syne text-2xl font-semibold;
	}
	h4,
	.h4 {
		@apply font-syne text-xl font-semibold;
	}
	h5,
	.h5 {
		@apply font-syne text-lg;
	}
	h6,
	.h6 {
		@apply font-syne;
	}

	p {
		@apply font-jost text-base;
	}
}
